<?xml version="1.0" encoding="UTF-8"?>

<plugin
        id="wisifi-qyer"
        name="Qyer POI Extractor"
        version="1.0.0"
        provider-name="wisifi.com">


    <runtime>
        <library name="wisifi-qyer.jar">
            <export name="*"/>
        </library>
        <library name="jsoup-1.8.2.jar"/>
        <library name="tagsoup-1.2.jar"/>
    </runtime>

    <requires>
        <import plugin="nutch-extensionpoints"/>
    </requires>

    <extension id="com.wisifi.nutch.extractor.qyer"
               name="Qyer POI Extractor"
               point="org.apache.nutch.indexer.IndexingFilter">
        <implementation id="BasicIndexingFilter"
                        class="org.apache.nutch.indexer.basic.BasicIndexingFilter"/>
    </extension>

</plugin>
